@import "./variables";

// Small devices (landscape phones, 576px and up)
/*
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
*/
@media (min-width: 576px) and (max-width: 767px) {
  body {
    width: 100%;

    background-position: center;
    background-size: cover;
  }

  .search-result {
    width: 90%;
    height: 80vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__table {
      width: 90%;
      //   min-width: 110rem;
      height: 60%;

      //   display: flex;
      //   flex-direction: column;
      //   justify-content: start;
      //   align-items: center;

      font-size: 1.5rem;

      border: 1px solid $scndry1;

      &__header {
        width: 100%;
        height: 10%;
        // background-color: black;
        @include frostedGlass();
      }

      &__posts-section {
        @include testborder2();
        width: 100%;
        height: 90%;
        // background-color: black;
        tr {
          td {
            @include frostedGlass();

            a {
              color: $blue;
              &:hover {
                color: $prmry3;
                transition: 0.2s ease-in-out;
                text-shadow: 1px 1px $scndry3;
              }
            }
          }
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
/*
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
*/
@media (min-width: 768px) and (max-width: 991px) {
  body {
    width: 100%;

    background-position: center;
    background-size: cover;
  }

  .search-result {
    width: 90%;
    height: 80vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__table {
      width: 100%;
      //   min-width: 110rem;
      height: 60%;

      //   display: flex;
      //   flex-direction: column;
      //   justify-content: start;
      //   align-items: center;

      font-size: 1.5rem;

      border: 1px solid $scndry1;

      &__header {
        width: 100%;
        height: 10%;
        // background-color: black;
        @include frostedGlass();
      }

      &__posts-section {
        @include testborder2();
        width: 100%;
        height: 90%;
        // background-color: black;
        tr {
          td {
            @include frostedGlass();

            a {
              color: $blue;
              &:hover {
                color: $prmry3;
                transition: 0.2s ease-in-out;
                text-shadow: 1px 1px $scndry3;
              }
            }
          }
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
/*
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
*/
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    width: 100%;

    background-position: center;
    background-size: cover;
  }

  .search-result {
    width: 80%;
    height: 80vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__table {
      width: 100%;
      //   min-width: 110rem;
      height: 60%;

      //   display: flex;
      //   flex-direction: column;
      //   justify-content: start;
      //   align-items: center;

      font-size: 1.5rem;

      border: 1px solid $scndry1;

      &__header {
        width: 100%;
        height: 10%;
        // background-color: black;
        @include frostedGlass();
      }

      &__posts-section {
        @include testborder2();
        width: 100%;
        height: 90%;
        // background-color: black;
        tr {
          td {
            @include frostedGlass();

            a {
              color: $blue;
              &:hover {
                color: $prmry3;
                transition: 0.2s ease-in-out;
                text-shadow: 1px 1px $scndry3;
              }
            }
          }
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
/*
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
*/
@media (min-width: 1200px) {
  body {
    width: 100%;

    background-position: center;
    background-size: cover;
  }

  .search-result__message {
    width: 80%;
    height: 80vh;
    margin: 0 auto;

    @include frostedGlass();
  }

  .search-result {
    width: 80%;
    height: 80vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__table {
      width: 80%;
      min-width: 110rem;
      height: 60%;

      //   display: flex;
      //   flex-direction: column;
      //   justify-content: start;
      //   align-items: center;

      font-size: 1.5rem;

      border: 1px solid $scndry1;

      &__header {
        width: 100%;
        height: 10%;
        // background-color: black;
        @include frostedGlass();
      }

      &__posts-section {
        @include testborder2();
        width: 100%;
        height: 90%;
        // background-color: black;
        tr {
          td {
            @include frostedGlass();

            a {
              color: $blue;
              &:hover {
                color: $prmry3;
                transition: 0.2s ease-in-out;
                text-shadow: 1px 1px $scndry3;
              }
            }
          }
        }
      }
    }
  }
}
