@import "./variables";

@media (min-width: 576px) and (max-width: 767px) {
  body {
    width: 100%;

    background-position: center;
    background-size: cover;
  }

  .forum-view {
    width: 100%;
    min-height: 90vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    .list-btn {
      @include frostedGlass();
      border: 1px solid $offwhite;
      width: 120px;
      font-size: 20px;
      padding: 1rem;
      margin: 2rem 0;
      align-self: flex-end;

      text-align: center;

      box-sizing: content-box;

      &:hover {
        border: 1px solid $prmry3;
        color: $prmry3;
        transition: 0.2s ease-in-out;
      }
      &__btn {
        background: transparent;
        border: none;
        color: $scndry3;
        transition: 0.2s ease-in-out;
      }
    }

    &__article {
      width: 80%;
      height: auto;

      border: 1px solid $scndry1;
      padding: 1rem;

      box-sizing: border-box;

      &__info {
        width: 100%;
        height: 9rem;
        line-height: 3rem;
        font-size: 1.5rem;

        @include frostedGlass();

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        ul {
          display: flex;
          width: 100%;

          li {
            &:first-child {
              width: 7rem;
            }
          }
        }

        &__title {
          width: 40%;
        }
        &__author {
          width: 20%;
        }
        &__date {
          width: 20%;
        }
      }
      &__content {
        width: 100%;
        height: auto;

        @include frostedGlass();

        margin-top: 1rem;

        padding: 4rem 2rem;
        font-size: 1.5rem;
        line-height: 3rem;

        box-sizing: border-box;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body {
    width: 100%;

    background-position: center;
    background-size: cover;
  }

  .forum-view {
    width: 90%;
    min-height: 80vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    .list-btn {
      @include frostedGlass();
      border: 1px solid $offwhite;
      width: 120px;
      font-size: 20px;
      padding: 1rem;
      margin: 2rem 0;
      align-self: flex-end;

      text-align: center;

      box-sizing: content-box;

      &:hover {
        border: 1px solid $prmry3;
        color: $prmry3;
        transition: 0.2s ease-in-out;
      }
      &__btn {
        background: transparent;
        border: none;
        color: $scndry3;
        transition: 0.2s ease-in-out;
      }
    }

    &__article {
      width: 80%;
      height: 60rem;

      border: 1px solid $scndry1;
      padding: 1rem;

      box-sizing: border-box;

      &__info {
        width: 100%;
        height: 9rem;
        line-height: 3rem;
        font-size: 1.5rem;

        @include frostedGlass();

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        ul {
          display: flex;

          li {
            text-indent: 2rem;
            &:first-child {
              width: 7rem;
            }
          }
        }

        &__title {
          width: 40%;
        }
        &__author {
          width: 20%;
        }
        &__date {
          width: 20%;
        }
      }
      &__content {
        width: 100%;
        height: auto;
        min-height: 47rem;

        @include frostedGlass();

        margin-top: 1rem;

        padding: 4rem 2rem;
        font-size: 1.5rem;
        line-height: 3rem;

        box-sizing: border-box;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  body {
    width: 100%;

    background-position: center;
    background-size: cover;
  }

  .forum-view {
    width: 80%;
    min-height: 80vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    .list-btn {
      @include frostedGlass();
      border: 1px solid $offwhite;
      width: 120px;
      font-size: 20px;
      padding: 1rem;
      margin: 2rem 0;
      align-self: flex-end;

      text-align: center;

      box-sizing: content-box;

      &:hover {
        border: 1px solid $prmry3;
        color: $prmry3;
        transition: 0.2s ease-in-out;
      }
      &__btn {
        background: transparent;
        border: none;
        color: $scndry3;
        transition: 0.2s ease-in-out;
      }
    }

    &__article {
      width: 80%;
      height: 60rem;

      border: 1px solid $scndry1;
      padding: 1rem;

      box-sizing: border-box;

      &__info {
        width: 100%;
        height: 9rem;
        line-height: 3rem;
        font-size: 1.5rem;

        @include frostedGlass();

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        ul {
          display: flex;

          li {
            text-indent: 2rem;
            &:first-child {
              width: 7rem;
            }
          }
        }

        &__title {
          width: 40%;
        }
        &__author {
          width: 20%;
        }
        &__date {
          width: 20%;
        }
      }
      &__content {
        width: 100%;
        height: auto;
        min-height: 47rem;

        @include frostedGlass();

        margin-top: 1rem;

        padding: 4rem 2rem;
        font-size: 1.5rem;
        line-height: 3rem;

        box-sizing: border-box;
      }
    }
  }
}

@media (min-width: 1200px) {
  body {
    width: 100%;

    background-position: center;
    background-size: cover;
  }

  .forum-view {
    width: 80%;
    height: 80vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    .list-btn {
      @include frostedGlass();
      border: 1px solid $offwhite;
      width: 120px;
      font-size: 20px;
      padding: 1rem;
      margin: 2rem 0;
      align-self: flex-end;

      text-align: center;

      box-sizing: content-box;

      &:hover {
        border: 1px solid $prmry3;
        color: $prmry3;
        transition: 0.2s ease-in-out;
      }
      &__btn {
        background: transparent;
        border: none;
        color: $scndry3;
        transition: 0.2s ease-in-out;
      }
    }

    &__article {
      width: 80%;
      height: 60rem;

      border: 1px solid $scndry1;
      padding: 1rem;

      box-sizing: border-box;

      &__info {
        width: 100%;
        height: 9rem;
        line-height: 3rem;
        font-size: 1.5rem;

        @include frostedGlass();

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        ul {
          display: flex;

          li {
            text-indent: 2rem;
            &:first-child {
              width: 7rem;
            }
          }
        }

        &__title {
          width: 40%;
        }
        &__author {
          width: 20%;
        }
        &__date {
          width: 20%;
        }
      }
      &__content {
        width: 100%;
        height: auto;
        min-height: 47rem;

        @include frostedGlass();

        margin-top: 1rem;

        padding: 4rem 2rem;
        font-size: 1.5rem;
        line-height: 3rem;

        box-sizing: border-box;
      }
    }
  }
}
