@import "./variables";

/*
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
*/
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  body {
    @include boxes;
    width: 100%;

    background-position: center;
  }
  .signin-section {
    height: 80vh;

    width: 80%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    #signIn {
      width: 90%;
      height: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;

      border: 1px solid $offwhite;
      border-radius: 2rem;

      @include frostedGlass();

      .signin__title {
        font-size: 3rem;
        text-align: center;

        padding: 4rem 0;
      }
      #userEmail {
        width: 70%;
        height: 3rem;
        font-size: 2rem;

        text-indent: 2rem;

        background-color: $prmry3;
        color: $offwhite;

        border-radius: 0.5rem;
        border: none;

        margin-bottom: 3rem;
      }
      #userPw {
        width: 70%;
        height: 3rem;
        font-size: 2rem;

        text-indent: 2rem;

        background-color: $prmry3;
        color: $offwhite;

        border-radius: 0.5rem;
        border: none;

        margin-bottom: 4rem;
      }

      #signInSbmBtn {
        width: 30%;
        height: 4rem;
        font-size: 2.5rem;
        line-height: 2.5rem;

        border-radius: 0.5rem;
        border: 1px solid $scndry2;
        color: $scndry2;

        background-color: transparent;

        margin-bottom: 4rem;

        &:hover {
          background-color: $scndry2;
          color: $offwhite;
          transition: 0.3s ease-in-out;
          cursor: pointer;
        }
      }

      .link-to-signUp {
        font-size: 1.5rem;
        a {
          color: $scndry2;

          &:hover {
            color: $prmry3;
            transition: 0.3s ease-in-out;
          }
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  body {
    @include boxes;
    width: 100%;
  }
  .signin-section {
    height: 80vh;

    width: 80%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    #signIn {
      width: 80%;
      height: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;

      border: 1px solid $offwhite;
      border-radius: 2rem;

      @include frostedGlass();

      .signin__title {
        font-size: 3rem;
        text-align: center;

        padding: 3rem 0;
      }
      #userEmail {
        width: 70%;
        height: 3rem;
        font-size: 2rem;

        text-indent: 2rem;

        background-color: $prmry3;
        color: $offwhite;

        border-radius: 0.5rem;
        border: none;

        margin-bottom: 3rem;
      }
      #userPw {
        width: 70%;
        height: 3rem;
        font-size: 2rem;

        text-indent: 2rem;

        background-color: $prmry3;
        color: $offwhite;

        border-radius: 0.5rem;
        border: none;

        margin-bottom: 3rem;
      }

      #signInSbmBtn {
        width: 30%;
        height: 4rem;
        font-size: 2.5rem;
        line-height: 2.5rem;

        border-radius: 0.5rem;
        border: 1px solid $scndry2;
        color: $scndry2;

        background-color: transparent;

        margin-bottom: 3rem;

        &:hover {
          background-color: $scndry2;
          color: $offwhite;
          transition: 0.3s ease-in-out;
          cursor: pointer;
        }
      }

      .link-to-signUp {
        font-size: 1.5rem;
        a {
          color: $scndry2;

          &:hover {
            color: $prmry3;
            transition: 0.3s ease-in-out;
          }
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    @include boxes;
    width: 100%;
  }
  .signin-section {
    height: 80vh;

    width: 80%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    #signIn {
      width: 80%;
      height: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;

      border: 1px solid $offwhite;
      border-radius: 2rem;

      @include frostedGlass();

      .signin__title {
        font-size: 3rem;
        text-align: center;

        padding: 3rem 0;
      }
      #userEmail {
        width: 70%;
        height: 3rem;
        font-size: 2rem;

        text-indent: 2rem;

        background-color: $prmry3;
        color: $offwhite;

        border-radius: 0.5rem;
        border: none;

        margin-bottom: 3rem;
      }
      #userPw {
        width: 70%;
        height: 3rem;
        font-size: 2rem;

        text-indent: 2rem;

        background-color: $prmry3;
        color: $offwhite;

        border-radius: 0.5rem;
        border: none;

        margin-bottom: 3rem;
      }

      #signInSbmBtn {
        width: 30%;
        height: 4rem;
        font-size: 2.5rem;
        line-height: 2.5rem;

        border-radius: 0.5rem;
        border: 1px solid $scndry2;
        color: $scndry2;

        background-color: transparent;

        margin-bottom: 3rem;

        &:hover {
          background-color: $scndry2;
          color: $offwhite;
          transition: 0.3s ease-in-out;
          cursor: pointer;
        }
      }

      .link-to-signUp {
        font-size: 1.5rem;
        a {
          color: $scndry2;

          &:hover {
            color: $prmry3;
            transition: 0.3s ease-in-out;
          }
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  // media
  body {
    @include boxes;
    width: 100%;
  }
  .signin-section {
    height: 80vh;

    width: 80%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    #signIn {
      width: 60rem;
      height: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;

      border: 1px solid $offwhite;
      border-radius: 2rem;

      @include frostedGlass();

      .signin__title {
        font-size: 3rem;
        text-align: center;

        padding: 3rem 0;
      }
      #userEmail {
        width: 70%;
        height: 3rem;
        font-size: 2rem;

        text-indent: 2rem;

        background-color: $prmry3;
        color: $offwhite;

        border-radius: 0.5rem;
        border: none;

        margin-bottom: 3rem;
      }
      #userPw {
        width: 70%;
        height: 3rem;
        font-size: 2rem;

        text-indent: 2rem;

        background-color: $prmry3;
        color: $offwhite;

        border-radius: 0.5rem;
        border: none;

        margin-bottom: 3rem;
      }

      #signInSbmBtn {
        width: 30%;
        height: 4rem;
        font-size: 2.5rem;
        line-height: 2.5rem;

        border-radius: 0.5rem;
        border: 1px solid $scndry2;
        color: $scndry2;

        background-color: transparent;

        margin-bottom: 3rem;

        &:hover {
          background-color: $scndry2;
          color: $offwhite;
          transition: 0.3s ease-in-out;
          cursor: pointer;
        }
      }

      .link-to-signUp {
        font-size: 1.5rem;
        a {
          color: $scndry2;

          &:hover {
            color: $prmry3;
            transition: 0.3s ease-in-out;
          }
        }
      }
    }
  }
}
