@import "./variables";

/*
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
*/
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {
  body {
    width: 100%;
    @include boxes;

    background-position: center;
  }

  .signup-section {
    height: 80vh;
    width: 80%;

    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    #signUp {
      width: 70rem;
      height: 70%;
      min-height: 40rem;

      @include frostedGlass;

      border: 1px solid $offwhite;
      border-radius: 2rem;

      display: flex;
      flex-direction: column;
      align-items: center;

      .signup__title {
        font-size: 3rem;
        text-align: center;

        padding: 3rem 0;
      }

      .signup-form__name-wrap {
        display: flex;
        justify-content: space-evenly;
        #firstName {
          width: 40%;
          height: 3rem;
          font-size: 2rem;

          text-indent: 2rem;

          background-color: $prmry3;
          color: $offwhite;

          border-radius: 0.5rem;
          border: none;

          margin-bottom: 3rem;
        }
        #lastName {
          width: 40%;
          height: 3rem;
          font-size: 2rem;

          text-indent: 2rem;

          background-color: $prmry3;
          color: $offwhite;

          border-radius: 0.5rem;
          border: none;

          margin-bottom: 3rem;
        }
      }

      #userEmail {
        width: 70%;
        height: 3rem;
        font-size: 2rem;

        text-indent: 2rem;

        background-color: $prmry3;
        color: $offwhite;

        border-radius: 0.5rem;
        border: none;

        margin-bottom: 3rem;
      }
      #userName {
        width: 70%;
        height: 3rem;
        font-size: 2rem;

        text-indent: 2rem;

        background-color: $prmry3;
        color: $offwhite;

        border-radius: 0.5rem;
        border: none;

        margin-bottom: 3rem;
      }
      #userPw {
        width: 70%;
        height: 3rem;
        font-size: 2rem;

        text-indent: 2rem;

        background-color: $prmry3;
        color: $offwhite;

        border-radius: 0.5rem;
        border: none;

        margin-bottom: 3rem;
      }

      #userPwChk {
        width: 70%;
        height: 3rem;
        font-size: 2rem;

        text-indent: 2rem;

        background-color: $prmry3;
        color: $offwhite;

        border-radius: 0.5rem;
        border: none;

        margin-bottom: 3rem;
      }

      #signUpSbmBtn {
        width: 30%;
        height: 4rem;
        font-size: 2.5rem;
        line-height: 2.5rem;

        border-radius: 0.5rem;
        border: 1px solid $scndry2;
        color: $scndry2;

        background-color: transparent;

        margin-bottom: 3rem;

        &:hover {
          background-color: $scndry2;
          color: $offwhite;
          transition: 0.3s ease-in-out;
          cursor: pointer;
        }
      }
    }
  }
}
/*
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
*/
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
  // media
  // media
  body {
    width: 100%;
    @include boxes;

    background-position: center;
  }

  .signup-section {
    height: 80vh;
    width: 80%;

    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    #signUp {
      width: 70rem;
      height: 70%;
      min-height: 40rem;

      @include frostedGlass();

      border: 1px solid $offwhite;
      border-radius: 2rem;

      display: flex;
      flex-direction: column;
      align-items: center;

      .signup__title {
        font-size: 3rem;
        text-align: center;

        padding: 3rem 0;
      }

      .signup-form__name-wrap {
        display: flex;
        justify-content: space-between;
        #firstName {
          width: 45%;
          height: 3rem;
          font-size: 2rem;

          text-indent: 2rem;

          background-color: $prmry3;
          color: $offwhite;

          border-radius: 0.5rem;
          border: none;

          margin-bottom: 3rem;
        }
        #lastName {
          width: 45%;
          height: 3rem;
          font-size: 2rem;

          text-indent: 2rem;

          background-color: $prmry3;
          color: $offwhite;

          border-radius: 0.5rem;
          border: none;

          margin-bottom: 3rem;
        }
      }

      #userEmail {
        width: 70%;
        height: 3rem;
        font-size: 2rem;

        text-indent: 2rem;

        background-color: $prmry3;
        color: $offwhite;

        border-radius: 0.5rem;
        border: none;

        margin-bottom: 3rem;
      }
      #userName {
        width: 70%;
        height: 3rem;
        font-size: 2rem;

        text-indent: 2rem;

        background-color: $prmry3;
        color: $offwhite;

        border-radius: 0.5rem;
        border: none;

        margin-bottom: 3rem;
      }
      #userPw {
        width: 70%;
        height: 3rem;
        font-size: 2rem;

        text-indent: 2rem;

        background-color: $prmry3;
        color: $offwhite;

        border-radius: 0.5rem;
        border: none;

        margin-bottom: 3rem;
      }

      #userPwChk {
        width: 70%;
        height: 3rem;
        font-size: 2rem;

        text-indent: 2rem;

        background-color: $prmry3;
        color: $offwhite;

        border-radius: 0.5rem;
        border: none;

        margin-bottom: 3rem;
      }

      #signUpSbmBtn {
        width: 30%;
        height: 4rem;
        font-size: 2.5rem;
        line-height: 2.5rem;

        border-radius: 0.5rem;
        border: 1px solid $scndry2;
        color: $scndry2;

        background-color: transparent;

        margin-bottom: 3rem;

        &:hover {
          background-color: $scndry2;
          color: $offwhite;
          transition: 0.3s ease-in-out;
          cursor: pointer;
        }
      }
    }
  }
}
/*
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
*/
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
  // media
  // media
  body {
    width: 100%;
    @include boxes;

    background-position: center;
  }

  .signup-section {
    height: 80vh;
    width: 80%;

    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    #signUp {
      width: 70rem;
      height: 70%;
      min-height: 40rem;

      @include frostedGlass();

      border: 1px solid $offwhite;
      border-radius: 2rem;

      display: flex;
      flex-direction: column;
      align-items: center;

      .signup__title {
        font-size: 3rem;
        text-align: center;

        padding: 3rem 0;
      }

      .signup-form__name-wrap {
        display: flex;
        justify-content: space-between;
        #firstName {
          width: 45%;
          height: 3rem;
          font-size: 2rem;

          text-indent: 2rem;

          background-color: $prmry3;
          color: $offwhite;

          border-radius: 0.5rem;
          border: none;

          margin-bottom: 3rem;
        }
        #lastName {
          width: 45%;
          height: 3rem;
          font-size: 2rem;

          text-indent: 2rem;

          background-color: $prmry3;
          color: $offwhite;

          border-radius: 0.5rem;
          border: none;

          margin-bottom: 3rem;
        }
      }

      #userEmail {
        width: 70%;
        height: 3rem;
        font-size: 2rem;

        text-indent: 2rem;

        background-color: $prmry3;
        color: $offwhite;

        border-radius: 0.5rem;
        border: none;

        margin-bottom: 3rem;
      }
      #userName {
        width: 70%;
        height: 3rem;
        font-size: 2rem;

        text-indent: 2rem;

        background-color: $prmry3;
        color: $offwhite;

        border-radius: 0.5rem;
        border: none;

        margin-bottom: 3rem;
      }
      #userPw {
        width: 70%;
        height: 3rem;
        font-size: 2rem;

        text-indent: 2rem;

        background-color: $prmry3;
        color: $offwhite;

        border-radius: 0.5rem;
        border: none;

        margin-bottom: 3rem;
      }

      #userPwChk {
        width: 70%;
        height: 3rem;
        font-size: 2rem;

        text-indent: 2rem;

        background-color: $prmry3;
        color: $offwhite;

        border-radius: 0.5rem;
        border: none;

        margin-bottom: 3rem;
      }

      #signUpSbmBtn {
        width: 30%;
        height: 4rem;
        font-size: 2.5rem;
        line-height: 2.5rem;

        border-radius: 0.5rem;
        border: 1px solid $scndry2;
        color: $scndry2;

        background-color: transparent;

        margin-bottom: 3rem;

        &:hover {
          background-color: $scndry2;
          color: $offwhite;
          transition: 0.3s ease-in-out;
          cursor: pointer;
        }
      }
    }
  }
}
/*
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
*/
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  // media
  body {
    width: 100%;
    @include boxes;

    background-position: center;
  }

  .signup-section {
    height: 80vh;
    width: 80%;

    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    #signUp {
      width: 70rem;
      height: 70%;
      min-height: 40rem;

      @include frostedGlass();

      border: 1px solid $offwhite;
      border-radius: 2rem;

      display: flex;
      flex-direction: column;
      align-items: center;

      .signup__title {
        font-size: 3rem;
        text-align: center;

        padding: 3rem 0;
      }

      .signup-form__name-wrap {
        display: flex;
        justify-content: space-between;
        #firstName {
          width: 45%;
          height: 3rem;
          font-size: 2rem;

          text-indent: 2rem;

          background-color: $prmry3;
          color: $offwhite;

          border-radius: 0.5rem;
          border: none;

          margin-bottom: 3rem;
        }
        #lastName {
          width: 45%;
          height: 3rem;
          font-size: 2rem;

          text-indent: 2rem;

          background-color: $prmry3;
          color: $offwhite;

          border-radius: 0.5rem;
          border: none;

          margin-bottom: 3rem;
        }
      }

      #userEmail {
        width: 70%;
        height: 3rem;
        font-size: 2rem;

        text-indent: 2rem;

        background-color: $prmry3;
        color: $offwhite;

        border-radius: 0.5rem;
        border: none;

        margin-bottom: 3rem;
      }
      #userName {
        width: 70%;
        height: 3rem;
        font-size: 2rem;

        text-indent: 2rem;

        background-color: $prmry3;
        color: $offwhite;

        border-radius: 0.5rem;
        border: none;

        margin-bottom: 3rem;
      }
      #userPw {
        width: 70%;
        height: 3rem;
        font-size: 2rem;

        text-indent: 2rem;

        background-color: $prmry3;
        color: $offwhite;

        border-radius: 0.5rem;
        border: none;

        margin-bottom: 3rem;
      }

      #userPwChk {
        width: 70%;
        height: 3rem;
        font-size: 2rem;

        text-indent: 2rem;

        background-color: $prmry3;
        color: $offwhite;

        border-radius: 0.5rem;
        border: none;

        margin-bottom: 3rem;
      }

      #signUpSbmBtn {
        width: 30%;
        height: 4rem;
        font-size: 2.5rem;
        line-height: 2.5rem;

        border-radius: 0.5rem;
        border: 1px solid $scndry2;
        color: $scndry2;

        background-color: transparent;

        margin-bottom: 3rem;

        &:hover {
          background-color: $scndry2;
          color: $offwhite;
          transition: 0.3s ease-in-out;
          cursor: pointer;
        }
      }
    }
  }
}
