@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
html {
  font-family: "Source Sans Pro", sans-serif;
}

/*
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
*/
@media (min-width: 576px) and (max-width: 767px) {
  body {
    background-color: #ffef8f;
    opacity: 1;
    background-image: linear-gradient(#f8f8ff 1px, transparent 1px), linear-gradient(to right, #f8f8ff 1px, #ffef8f 1px);
    background-size: 20px 20px;
    width: 100%;
    background-position: center;
  }
  .signin-section {
    height: 80vh;
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .signin-section #signIn {
    width: 90%;
    height: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #f8f8ff;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  .signin-section #signIn .signin__title {
    font-size: 3rem;
    text-align: center;
    padding: 4rem 0;
  }
  .signin-section #signIn #userEmail {
    width: 70%;
    height: 3rem;
    font-size: 2rem;
    text-indent: 2rem;
    background-color: #f2cd5c;
    color: #f8f8ff;
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 3rem;
  }
  .signin-section #signIn #userPw {
    width: 70%;
    height: 3rem;
    font-size: 2rem;
    text-indent: 2rem;
    background-color: #f2cd5c;
    color: #f8f8ff;
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 4rem;
  }
  .signin-section #signIn #signInSbmBtn {
    width: 30%;
    height: 4rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid #6c6f73;
    color: #6c6f73;
    background-color: transparent;
    margin-bottom: 4rem;
  }
  .signin-section #signIn #signInSbmBtn:hover {
    background-color: #6c6f73;
    color: #f8f8ff;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }
  .signin-section #signIn .link-to-signUp {
    font-size: 1.5rem;
  }
  .signin-section #signIn .link-to-signUp a {
    color: #6c6f73;
  }
  .signin-section #signIn .link-to-signUp a:hover {
    color: #f2cd5c;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
}

@media (min-width: 768px) {
  body {
    background-color: #ffef8f;
    opacity: 1;
    background-image: linear-gradient(#f8f8ff 1px, transparent 1px), linear-gradient(to right, #f8f8ff 1px, #ffef8f 1px);
    background-size: 20px 20px;
    width: 100%;
  }
  .signin-section {
    height: 80vh;
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .signin-section #signIn {
    width: 80%;
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #f8f8ff;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  .signin-section #signIn .signin__title {
    font-size: 3rem;
    text-align: center;
    padding: 3rem 0;
  }
  .signin-section #signIn #userEmail {
    width: 70%;
    height: 3rem;
    font-size: 2rem;
    text-indent: 2rem;
    background-color: #f2cd5c;
    color: #f8f8ff;
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 3rem;
  }
  .signin-section #signIn #userPw {
    width: 70%;
    height: 3rem;
    font-size: 2rem;
    text-indent: 2rem;
    background-color: #f2cd5c;
    color: #f8f8ff;
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 3rem;
  }
  .signin-section #signIn #signInSbmBtn {
    width: 30%;
    height: 4rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid #6c6f73;
    color: #6c6f73;
    background-color: transparent;
    margin-bottom: 3rem;
  }
  .signin-section #signIn #signInSbmBtn:hover {
    background-color: #6c6f73;
    color: #f8f8ff;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }
  .signin-section #signIn .link-to-signUp {
    font-size: 1.5rem;
  }
  .signin-section #signIn .link-to-signUp a {
    color: #6c6f73;
  }
  .signin-section #signIn .link-to-signUp a:hover {
    color: #f2cd5c;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  body {
    background-color: #ffef8f;
    opacity: 1;
    background-image: linear-gradient(#f8f8ff 1px, transparent 1px), linear-gradient(to right, #f8f8ff 1px, #ffef8f 1px);
    background-size: 20px 20px;
    width: 100%;
  }
  .signin-section {
    height: 80vh;
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .signin-section #signIn {
    width: 80%;
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #f8f8ff;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  .signin-section #signIn .signin__title {
    font-size: 3rem;
    text-align: center;
    padding: 3rem 0;
  }
  .signin-section #signIn #userEmail {
    width: 70%;
    height: 3rem;
    font-size: 2rem;
    text-indent: 2rem;
    background-color: #f2cd5c;
    color: #f8f8ff;
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 3rem;
  }
  .signin-section #signIn #userPw {
    width: 70%;
    height: 3rem;
    font-size: 2rem;
    text-indent: 2rem;
    background-color: #f2cd5c;
    color: #f8f8ff;
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 3rem;
  }
  .signin-section #signIn #signInSbmBtn {
    width: 30%;
    height: 4rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid #6c6f73;
    color: #6c6f73;
    background-color: transparent;
    margin-bottom: 3rem;
  }
  .signin-section #signIn #signInSbmBtn:hover {
    background-color: #6c6f73;
    color: #f8f8ff;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }
  .signin-section #signIn .link-to-signUp {
    font-size: 1.5rem;
  }
  .signin-section #signIn .link-to-signUp a {
    color: #6c6f73;
  }
  .signin-section #signIn .link-to-signUp a:hover {
    color: #f2cd5c;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
}

@media (min-width: 1200px) {
  body {
    background-color: #ffef8f;
    opacity: 1;
    background-image: linear-gradient(#f8f8ff 1px, transparent 1px), linear-gradient(to right, #f8f8ff 1px, #ffef8f 1px);
    background-size: 20px 20px;
    width: 100%;
  }
  .signin-section {
    height: 80vh;
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .signin-section #signIn {
    width: 60rem;
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #f8f8ff;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  .signin-section #signIn .signin__title {
    font-size: 3rem;
    text-align: center;
    padding: 3rem 0;
  }
  .signin-section #signIn #userEmail {
    width: 70%;
    height: 3rem;
    font-size: 2rem;
    text-indent: 2rem;
    background-color: #f2cd5c;
    color: #f8f8ff;
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 3rem;
  }
  .signin-section #signIn #userPw {
    width: 70%;
    height: 3rem;
    font-size: 2rem;
    text-indent: 2rem;
    background-color: #f2cd5c;
    color: #f8f8ff;
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 3rem;
  }
  .signin-section #signIn #signInSbmBtn {
    width: 30%;
    height: 4rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid #6c6f73;
    color: #6c6f73;
    background-color: transparent;
    margin-bottom: 3rem;
  }
  .signin-section #signIn #signInSbmBtn:hover {
    background-color: #6c6f73;
    color: #f8f8ff;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }
  .signin-section #signIn .link-to-signUp {
    font-size: 1.5rem;
  }
  .signin-section #signIn .link-to-signUp a {
    color: #6c6f73;
  }
  .signin-section #signIn .link-to-signUp a:hover {
    color: #f2cd5c;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
}
