@keyframes slider_animation {
  0% {
    margin-left: 0;
  }
  10% {
    margin-left: -100%;
  }
  25% {
    margin-left: -200%;
  }
  35% {
    margin-left: -300%;
  }
  50% {
    margin-left: -300%;
  }
  60% {
    margin-left: -200%;
  }
  75% {
    margin-left: -100%;
  }
  100% {
    margin-left: 0;
  }
}

.index__top__left-slider-wrap {
  animation: slider_animation 16s infinite;
}

.index__top__right-slider-wrap {
  animation: slider_animation 16s infinite;
}
