@import "./variables";

// Small devices (landscape phones, 576px and up)

@media (min-width: 576px) and (max-width: 767px) {
  body {
    @include boxes;
    width: 100%;
  }
  .writePost-section {
    width: 100%;
    height: 80vh;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #writePost {
      width: 90%;
      height: 80%;
      // @include frostedGlass;

      border-radius: 1rem;
      border: 1px solid $offwhite;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .writePost-form__title-wrap {
        display: flex;
        justify-content: space-between;

        width: 70%;
        height: 3rem;
        // @include testborder2();

        margin-bottom: 3rem;

        label {
          min-width: 4rem;
          font-size: 2rem;
          width: 10%;
          height: 100%;
        }
        #title {
          width: 90%;

          height: 100%;
        }
      }

      #content {
        width: 70%;
      }

      #postSbmBtn {
        align-self: flex-end;

        width: 10%;
        min-width: 15rem;
        height: 4rem;
        font-size: 2rem;
        // line-height: 2.5rem;

        border-radius: 0.5rem;
        border: 1px solid $scndry2;
        color: $scndry2;

        background-color: transparent;

        margin-top: 3rem;
        margin-right: 15%;

        &:hover {
          background-color: $scndry2;
          color: $offwhite;
          transition: 0.3s ease-in-out;
          cursor: pointer;
        }
      }
    }
  }
  .signin-needed-section {
    width: 100%;
    text-align: center;
  }
}

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) and (max-width: 991px) {
  body {
    @include boxes;
    width: 100%;
  }
  .writePost-section {
    width: 80%;
    height: 80vh;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #writePost {
      width: 100%;
      height: 80%;
      @include frostedGlass();

      border-radius: 1rem;
      border: 1px solid $offwhite;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .writePost-form__title-wrap {
        display: flex;
        justify-content: space-between;

        width: 70%;
        height: 3rem;
        // @include testborder2();

        margin-bottom: 3rem;

        label {
          font-size: 2rem;
          width: 10%;
          height: 100%;
        }
        #title {
          width: 90%;
          height: 100%;
        }
      }

      #content {
        width: 70%;
      }

      #postSbmBtn {
        align-self: flex-end;

        width: 10%;
        min-width: 15rem;
        height: 4rem;
        font-size: 2rem;
        // line-height: 2.5rem;

        border-radius: 0.5rem;
        border: 1px solid $scndry2;
        color: $scndry2;

        background-color: transparent;

        margin-top: 3rem;
        margin-right: 15%;

        &:hover {
          background-color: $scndry2;
          color: $offwhite;
          transition: 0.3s ease-in-out;
          cursor: pointer;
        }
      }
    }
  }
  .signin-needed-section {
    width: 100%;
    text-align: center;
  }
}

// Large devices (desktops, 992px and up)

@media (min-width: 992px) and (max-width: 1199px) {
  body {
    @include boxes;
    width: 100%;
  }
  .writePost-section {
    width: 80%;
    height: 80vh;
    min-height: 60rem;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #writePost {
      width: 100%;
      height: 80%;
      @include frostedGlass();

      border-radius: 1rem;
      border: 1px solid $offwhite;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .writePost-form__title-wrap {
        display: flex;
        justify-content: space-between;

        width: 70%;
        height: 3rem;
        // @include testborder2();

        margin-bottom: 3rem;

        label {
          font-size: 2rem;
          width: 10%;
          height: 100%;
        }
        #title {
          width: 90%;
          height: 100%;
        }
      }

      #content {
        width: 70%;
      }

      #postSbmBtn {
        align-self: flex-end;

        width: 10%;
        min-width: 15rem;
        height: 4rem;
        font-size: 2rem;
        // line-height: 2.5rem;

        border-radius: 0.5rem;
        border: 1px solid $scndry2;
        color: $scndry2;

        background-color: transparent;

        margin-top: 3rem;
        margin-right: 15%;

        &:hover {
          background-color: $scndry2;
          color: $offwhite;
          transition: 0.3s ease-in-out;
          cursor: pointer;
        }
      }
    }
  }
  .signin-needed-section {
    width: 100%;
    text-align: center;
  }
}

// Extra large devices (large desktops, 1200px and up)

@media (min-width: 1200px) {
  body {
    @include boxes;
    width: 100%;
  }
  .writePost-section {
    width: 80%;
    height: 80vh;
    min-height: 60rem;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #writePost {
      width: 80%;
      height: 80%;
      @include frostedGlass();

      border-radius: 1rem;
      border: 1px solid $offwhite;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .writePost-form__title-wrap {
        display: flex;
        justify-content: space-between;

        width: 70%;
        height: 3rem;
        // @include testborder2();

        margin-bottom: 3rem;

        label {
          font-size: 1.5rem;
          width: 10%;
          height: 100%;
        }
        #title {
          width: 90%;
          height: 100%;
        }
      }

      #content {
        width: 70%;
      }

      #postSbmBtn {
        align-self: flex-end;

        width: 10%;
        min-width: 15rem;
        height: 4rem;
        font-size: 2rem;
        // line-height: 2.5rem;

        border-radius: 0.5rem;
        border: 1px solid $scndry2;
        color: $scndry2;

        background-color: transparent;

        margin-top: 3rem;
        margin-right: 15%;

        &:hover {
          background-color: $scndry2;
          color: $offwhite;
          transition: 0.3s ease-in-out;
          cursor: pointer;
        }
      }
    }
  }
  .signin-needed-section {
    display: flex;
    align-items: center;
    justify-content: center;

    .signin-needed__message {
      font-size: 20px;
      @include roboto;
      color: $scndry3;
      position: relative;
      top: 100px;
      text-align: center;
      line-height: 30px;
    }
  }
}
