@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

$prmry1: #f2e9bd;
$prmry2: #f2d544;
$prmry3: #f2cd5c;
$scndry1: #d9d9d9;
$scndry2: #6c6f73;
$scndry3: #212326;
$brown: #594302;
$offwhite: #f8f8ff;
$blue: #020a96;

$img1col1: #99b4bf;
$img1col2: #1f788c;

@mixin prmryGrdnt {
  background: rgb(108, 111, 115);
  background: linear-gradient(
    318deg,
    rgba(108, 111, 115, 1) 0%,
    rgba(242, 213, 68, 1) 100%
  );
}

@mixin img1grdnt {
  background: rgb(187, 197, 204);
  background: linear-gradient(
    90deg,
    rgba(187, 197, 204, 1) 0%,
    rgba(219, 215, 214, 1) 50%,
    rgba(61, 54, 39, 1) 100%
  );
}

$img2col1: #f2dfce;
$img2col2: #f2a007;

@mixin img2grdnt {
  background: rgb(227, 210, 194);
  background: linear-gradient(
    90deg,
    rgba(227, 210, 194, 1) 0%,
    rgba(242, 160, 7, 1) 50%,
    rgba(0, 11, 2, 1) 100%
  );
}

$img3col1: #d9b596;
$img3col2: #0367a6;

@mixin img3grdnt {
  background: rgb(227, 196, 161);
  background: linear-gradient(
    90deg,
    rgba(227, 196, 161, 1) 0%,
    rgba(161, 166, 159, 1) 50%,
    rgba(29, 129, 184, 1) 100%
  );
}

$img4col1: #dbd6d2;
$img4col2: #261014;

@mixin img4grdnt {
  background: rgb(213, 207, 207);
  background: linear-gradient(
    90deg,
    rgba(213, 207, 207, 1) 0%,
    rgba(114, 75, 30, 1) 50%,
    rgba(59, 53, 39, 1) 100%
  );
}

@mixin testborder1 {
  border: 1px solid red;
}
@mixin testborder2 {
  border: 1px solid blue;
}

@mixin frostedGlass {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
}

@mixin frostedGlassGray {
  background-color: rgba(150, 150, 150, 0.4);
  backdrop-filter: blur(5px);
}

html {
  font-family: "Source Sans Pro", sans-serif;
}

// Small devices (landscape phones, 576px and up)
/*
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
*/
@media (min-width: 576px) {
  body {
    width: 100%;
    background-image: url(../img/pexels-steve-johnson-1484759.jpg);
  }
  .writePost-section {
    width: 100%;
    height: 80vh;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #writePost {
      width: 90%;
      height: 80%;
      @include frostedGlass();

      border-radius: 1rem;
      border: 1px solid $offwhite;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .writePost-form__title-wrap {
        display: flex;
        justify-content: space-between;

        width: 70%;
        height: 3rem;
        // @include testborder2();

        margin-bottom: 3rem;

        label {
          min-width: 4rem;
          font-size: 2rem;
          width: 10%;
          height: 100%;
        }
        #title {
          width: 90%;

          height: 100%;
        }
      }

      #content {
        width: 70%;
      }

      #postSbmBtn {
        align-self: flex-end;

        width: 10%;
        min-width: 15rem;
        height: 4rem;
        font-size: 2rem;
        // line-height: 2.5rem;

        border-radius: 0.5rem;
        border: 1px solid $scndry2;
        color: $scndry2;

        background-color: transparent;

        margin-top: 3rem;
        margin-right: 15%;

        &:hover {
          background-color: $scndry2;
          color: $offwhite;
          transition: 0.3s ease-in-out;
          cursor: pointer;
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
/*
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
*/
@media (min-width: 768px) {
  body {
    width: 100%;
    background-image: url(../img/pexels-steve-johnson-1484759.jpg);
  }
  .writePost-section {
    width: 80%;
    height: 80vh;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #writePost {
      width: 100%;
      height: 80%;
      @include frostedGlass();

      border-radius: 1rem;
      border: 1px solid $offwhite;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .writePost-form__title-wrap {
        display: flex;
        justify-content: space-between;

        width: 70%;
        height: 3rem;
        // @include testborder2();

        margin-bottom: 3rem;

        label {
          font-size: 2rem;
          width: 10%;
          height: 100%;
        }
        #title {
          width: 90%;
          height: 100%;
        }
      }

      #content {
        width: 70%;
      }

      #postSbmBtn {
        align-self: flex-end;

        width: 10%;
        min-width: 15rem;
        height: 4rem;
        font-size: 2rem;
        // line-height: 2.5rem;

        border-radius: 0.5rem;
        border: 1px solid $scndry2;
        color: $scndry2;

        background-color: transparent;

        margin-top: 3rem;
        margin-right: 15%;

        &:hover {
          background-color: $scndry2;
          color: $offwhite;
          transition: 0.3s ease-in-out;
          cursor: pointer;
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
/*
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
*/
@media (min-width: 992px) {
  body {
    width: 100%;
    background-image: url(../img/pexels-steve-johnson-1484759.jpg);
  }
  .writePost-section {
    width: 80%;
    height: 80vh;
    min-height: 60rem;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #writePost {
      width: 100%;
      height: 80%;
      @include frostedGlass();

      border-radius: 1rem;
      border: 1px solid $offwhite;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .writePost-form__title-wrap {
        display: flex;
        justify-content: space-between;

        width: 70%;
        height: 3rem;
        // @include testborder2();

        margin-bottom: 3rem;

        label {
          font-size: 2rem;
          width: 10%;
          height: 100%;
        }
        #title {
          width: 90%;
          height: 100%;
        }
      }

      #content {
        width: 70%;
      }

      #postSbmBtn {
        align-self: flex-end;

        width: 10%;
        min-width: 15rem;
        height: 4rem;
        font-size: 2rem;
        // line-height: 2.5rem;

        border-radius: 0.5rem;
        border: 1px solid $scndry2;
        color: $scndry2;

        background-color: transparent;

        margin-top: 3rem;
        margin-right: 15%;

        &:hover {
          background-color: $scndry2;
          color: $offwhite;
          transition: 0.3s ease-in-out;
          cursor: pointer;
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
/*
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////
*/
@media (min-width: 1200px) {
  body {
    width: 100%;
    background-image: url(../img/pexels-steve-johnson-1484759.jpg);
  }
  .writePost-section {
    width: 80%;
    height: 80vh;
    min-height: 60rem;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #writePost {
      width: 80%;
      height: 80%;
      @include frostedGlass();

      border-radius: 1rem;
      border: 1px solid $offwhite;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .writePost-form__title-wrap {
        display: flex;
        justify-content: space-between;

        width: 70%;
        height: 3rem;
        // @include testborder2();

        margin-bottom: 3rem;

        label {
          font-size: 1.5rem;
          width: 10%;
          height: 100%;
        }
        #title {
          width: 90%;
          height: 100%;
        }
      }

      #content {
        width: 70%;
      }

      #postSbmBtn {
        align-self: flex-end;

        width: 10%;
        min-width: 15rem;
        height: 4rem;
        font-size: 2rem;
        // line-height: 2.5rem;

        border-radius: 0.5rem;
        border: 1px solid $scndry2;
        color: $scndry2;

        background-color: transparent;

        margin-top: 3rem;
        margin-right: 15%;

        &:hover {
          background-color: $scndry2;
          color: $offwhite;
          transition: 0.3s ease-in-out;
          cursor: pointer;
        }
      }
    }
  }
}
